* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.article1 {
    display: flex;
    justify-content: end;
}

.anclaBoton{
    font-size: 16x;
    width: auto;
    height: auto;
    margin-left: 15px;
}

.article2 {
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    justify-content: flex-end;
    width: 150px;
    height: 150px;
}

.h1 {
    font-size: 30px;
    font-weight: 600;
    color: black;
    padding: 3rem;
    text-align: center;
    margin-bottom: 30px;
}

.botones {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 400px;
}

.parrafo {
    color: gray;
    font-size: 12px;
    text-align: center;
}

.divFooter {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.divFooter1{
        margin-top: 650px;
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
    
}

.divFooter1 p{
    color: white;
}

#resultados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divBorcelle{
    display: flex;
    justify-content: right;
    margin-right: 15px;
    margin-top: 40px;
    margin-bottom: 400px;
}

.parrafoBorcelle{
    text-align: 16px;
    color: white;
}

